{% extends 'base.html' %}

{% block content %}
 
<br>

<table class="center">
  <caption class="bold">
    To Do List
  </caption>
  <thead>
    <tr>
      <th>
        Task
      </th>
      <th>
        Action
      </th>
    </tr>
  </thead>
  <tbody>
  {% for task in tasks %}
  <tr>
      <td>{{ task.content }}</td>
      <td>
          <a href="delete/{{task.id}}">Delete</a>
          <a href="update/{{task.id}}">Update</a>
      </td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<br>

<div class="form">
<form action="/" method="POST">
  <label for="content">Enter Task:</label><br>
  <input type="text" name="content" id="content">
  <input type="submit" value="Submit">
</form>
</div>

</body>
{% endblock %}
</html>


