{% extends 'base.html' %}

{% block content %}
 
<br>

<table class="center">
  <caption class="bold">
    To Do List
  </caption>
  <thead>
    <tr>
      <th>
        Task
      </th>
      <th>
        Action
      </th>
    </tr>
  </thead>
  <tbody>
  {% for task in tasks %}
  <tr>
      <td>{{ task.content }}</td>
      <td>
          <a href="delete/{{task.id}}">Delete</a>
          <a href="update/{{task.id}}">Update</a>
      </td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<br>

<div class="text-center">
<form method="POST" action="/">
  {{ form.content.label }}
  {{ form.content }}
  {% if form.content.errors %}
    <ul>
        <li>{{ error }}</li>
    </ul>
    {% endif %}

    {{ form.submit }}

  </form>
</div>

</body>
{% endblock %}
</html>


